/* variables */

$bodyFont: 'Inter', -apple-system, sans-serif;
$bodyColor: #2f2e31;
$bodyColor1: #232227;
$bodyColor2: #333135;
$bodyColor3: #fdfdfd;
$bodyColor4: linear-gradient(to right, #ff626d, #fcad72);;

