/* variables */

$bodyFont: 'Inter', -apple-system, sans-serif;
$bodyColor: #231F1F;
$bodyColor1: #2e2828;
$bodyColor2: #fdfdfd;
$bodyColor3: #1400FF;
$bodyColor4: #FF4206;
$bodyColor5: #9224FF;
$bodyColor6: #FFE710;
$bodyColor7: #10F350;


